<h1 class="orange">WordPress Import</h1>

<div class="light">
	<p>Here you can import all of your content from a WordPress blog into a Shopify blog. With this tool you can import all posts, comments, and static pages.</p>

	<% form_for :import, @import, :url => { :action => 'create', :id => params[:id] }, :html => { :multipart => true } do |f| %>
	  <%= f.file_field :source %>
	  <%= submit_tag "Upload" %>
	<% end %>
</div>

<div class="box">
	<div class="wrapper">
<p>You will need to upload your WordPress Export file, which will contain all of the data necessary for the import. The instructions are below:</p>
</div>
</div>

	<h3>1. Log in to your WordPress Site Admin interface.</h3><img class="box"  src="http://img.skitch.com/20081008-ty36xgjpdp34ek4asqpgx3xd7d.jpg" alt="Jesse2019s Frisbee Blog-2-1" class="steps" />
	<h3>2. Click on Manage.</h3><img src="http://img.skitch.com/20081008-nq631534rc9wi8p7xf6cgpbuwm.jpg" alt="Jesse2019s Frisbee Blog 203A Dashboard 2014 WordPress" class="steps box"/>
	<h3>3. Click on Export.</h3><img src="http://img.skitch.com/20081008-pjgugyytryecwrgtwri1kp6fhq.jpg" alt="Jesse2019s Frisbee Blog 203A Posts 2014 WordPress" class="steps box"/>
	<h3>4. Download your export file.</h3><img src="http://img.skitch.com/20081008-j33fa9kpccu7c5wxy671fp6u8i.jpg" alt="Jesse2019s Frisbee Blog 203A Export 2014 WordPress" class="steps box"/>
	<h3>5. <a href="#">Upload your file here!</a></h3>