<h2 class="orange">WordPress Import</h2>

<div class="light">
	<p>Here you can import all of your content from a WordPress blog into a Shopify blog. With this tool you can import all posts, comments, and static pages.</p>

	<% form_for :import, @import, :url => { :action=>'create', :type => params[:type], :id => params[:id] }, :html => { :multipart => true } do |f| %>
	  <%= f.file_field :source %>
	  <%= submit_tag "Upload" %>
	<% end %>
</div>

<p>You will need to upload your WordPress Export file, which will contain all of the data necessary for the import. Here are the instructions:</p>
<ol>
	<li>Log in to your WordPress Site Admin interface.<img src="http://img.skitch.com/20081008-ty36xgjpdp34ek4asqpgx3xd7d.jpg" alt="Jesse2019s Frisbee Blog-2-1" class="steps"/></li>
	<li>Click on Manage.<img src="http://img.skitch.com/20081008-nq631534rc9wi8p7xf6cgpbuwm.jpg" alt="Jesse2019s Frisbee Blog 203A Dashboard 2014 WordPress" class="steps"/></li>
	<li>Click on Export.<img src="http://img.skitch.com/20081008-pjgugyytryecwrgtwri1kp6fhq.jpg" alt="Jesse2019s Frisbee Blog 203A Posts 2014 WordPress" class="steps"/></li>
	<li>Download your export file.<img src="http://img.skitch.com/20081008-j33fa9kpccu7c5wxy671fp6u8i.jpg" alt="Jesse2019s Frisbee Blog 203A Export 2014 WordPress" class="steps"/></li>
	<li><a href="#">Upload your file here!</a></li>
</ol>