table {
  border-width: thin thin thin thin;
  border-spacing: 4px;
  border-collapse: separate;
  background-color: rgb(255, 250, 250);
}
table th {
  border-width: 1px 1px 1px 1px;
  padding: 3px 3px 3px 3px;
  border-style: dotted dotted dotted dotted;
  border-color: black black black black;
  background-color: rgb(255, 250, 250);
}
table td {
  border-width: 1px 1px 1px 1px;
  padding: 3px 3px 3px 3px;
  border-style: dotted dotted dotted dotted;
  border-color: black black black black;
  background-color: rgb(255, 250, 250);
}