<h2 class="orange">Login</h2>

<p>
    Before you can use Importer you have to register it with your shop to allow access to the shop's data.
  </p>

<div class="light">
	<% form_tag :controller => 'login', :action => 'authenticate' do %>
	    <label for='shop'><strong>The URL of the Shop</strong>
	      <span class="note">(or its <strong>myshopify.com</strong> subdomain)</span>
	    </label>
	    <p>
	      <%= text_field_tag 'shop', {}, :style => "width: 240px" %> <%= submit_tag 'Authenticate' %>
	    </p>
	<% end %>
</div>