<div id="status" class="light">
  <h2 class="green">
    <span class="message">Import in Progress </span>
    <img src="/images/spinner.gif" />
  </h2>
  <p class="message">
    Your import job is currently in queue position blank of blank, we will send you an email once the job is finished.
  </p>
  <p class="message">Your shop is currently being imported...</p>
</div>